<template>
    <small>
        <i>Saddharma Pundarika Sutra</i><br>Traducido al español por Rev. Yin Zhi Shākya, OHY

        <p>Leído por Sebastian Silva.</p>
        <p style="width:50%; margin: auto"><b>Dedicatoria:</b> Dedico  esta  traducción  a  todos  los  seres  que  por  una  razón  uotra  la  lean;  aunque  sólo  sea  una  sola  línea  de  un  verso.  Quetodos ellos puedan plantar sus pies en el Camino que guía a la felicidad insuperable de la Iluminación. <i>Rev. Yin Zhi Shakya.</i></p>
        <a href="sutra-del-loto.pdf">Descarga el texto en PDF</a>.
    </small>
</template>
